[submodule "3rdparty/TinyXml"]
	path = 3rdparty/TinyXml
	url = https://github.com/leethomason/tinyxml2.git
[submodule "3rdparty/HttpParser"]
	path = 3rdparty/HttpParser
	url = https://github.com/nodejs/http-parser
